/* Global Styles */
body {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: #ccff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Container Styling */
.container {
    max-width: 600px;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* Header */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ccff00;
}

/* Textarea */
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: monospace;
    color: #ccff00;
    background-color: #111;
    box-sizing: border-box;
}

/* Buttons */
.buttons {
    margin: 20px 0;
}

button {
    background-color: #ccff00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    font-family: monospace;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #dfff4f;
    transform: scale(1.05);
}

/* Output Styling */
.output {
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
    color: #ccff00;
    text-align: left;
    font-size: 16px;
    font-family: monospace;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #333;
}

.output:hover {
    background-color: #1a1a1a;
}

/* Notification */
.notification {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #ccff00;
}

/* Scrollbars */
.output::-webkit-scrollbar {
    width: 8px;
}

.output::-webkit-scrollbar-track {
    background: #111;
    border-radius: 5px;
}

.output::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
    border: 2px solid #111;
}

.output::-webkit-scrollbar-thumb:hover {
    background-color: #ccff00;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
        height: auto;
        padding: 10px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }

    #jsonOutput {
        font-size: 20px;
        height: 50px;
    }
}

@media screen and (max-width: 320px) {
    button {
        padding: 8px;
        font-size: 14px;
    }

    #jsonOutput {
        font-size: 18px;
        height: 45px;
    }
}